<!--
  Generated template for the EditbusinessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="green">
        <button ion-button menuToggle style="display:block !important;">
            <ion-icon><img src="assets/imgs/menuicon.png" class="menuicon"></ion-icon>
        </button>
        <ion-title>Edit business</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="EditbusinessForm" (submit)="EditBusiness(EditbusinessForm)">
        <ion-list no-lines>
            <div class="outersec">
                <ion-item>
                    <ion-input type="text" disabled placeholder="Business Name" formControlName="businessname" ></ion-input>
                </ion-item>
                <img src="assets/imgs/editname.png">
            </div>

            <!--        <ion-item>
                      <ion-label>City</ion-label>
                      <ion-select>
                        <ion-option value="1">City 1</ion-option>
                        <ion-option value="2">City 2</ion-option>
                        <ion-option value="3">City 3</ion-option>
                        <ion-option value="4">City 4</ion-option>
                      </ion-select>
                    </ion-item>-->

            <ion-input type="hidden" disabled  formControlName="businesstype" ></ion-input>

            <ion-item>
                <ion-input type="text" placeholder="Phone Number" formControlName="phone"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" placeholder="Address" formControlName="address" [(ngModel)]="autocomplete.query" (input)="updateSearch()"></ion-input>
            </ion-item>
            <div *ngIf="autocompleteItems != ''" class="suggestion">
                <ion-label *ngFor="let item of autocompleteItems" tappable   (click)="chooseItem(item)">{{ item }}</ion-label>
            </div>
            <ion-item>
                
                <ion-input type="text" placeholder="Zip code" formControlName="zipcode"></ion-input>
            </ion-item>
            <ion-item class="area">
                <ion-textarea  placeholder="Description" formControlName="description"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label>Category</ion-label>
                <ion-select class="catoption" formControlName="category" (ionChange)="selectedCat($event)">
                    <ion-option *ngFor="let cat of category" value ="{{cat._id}}">{{cat.title}}
                        <ion-input type="hidden" [(ngModel)]="data.category_title" formControlName="category_id"></ion-input>
                    </ion-option>
                </ion-select>
                <!--                <ion-select formControlName="category" [(ngModel)]="data.category" (ionChange)="selectedCat($event)">
                                    <ion-option *ngFor="let cat of category" value ="{{cat._id}}">{{cat.title}}
                                        <ion-input type="hidden" [(ngModel)]="data.category_id" formControlName="category_id"></ion-input></ion-option>
                                </ion-select>-->
            </ion-item>

            <h2>Add opening and closing hours.</h2>

            <ion-item>
                <ion-label>Select Day</ion-label>
                <ion-select formControlName="days" [(ngModel)]="data.days">
                    <ion-option *ngFor="let day of days;let i = index">{{day}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-grid class="paddingnone">
                <ion-row>
                    <ion-col col-5 class="padding-left">
                        <ion-item>
                            <ion-datetime placeholder="Opening Hours" displayFormat="HH:MM A" [(ngModel)]="data.openinghours" formControlName="openinghours"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5 class="paddingtopbtm">
                        <ion-item>
                            <ion-datetime placeholder="Closing Hours" displayFormat="HH:MM A" [(ngModel)]="data.closinghours" formControlName="closinghours"></ion-datetime>
                        </ion-item>
                    </ion-col> 
                    <ion-col col-2 class="padding-right">
                        <ion-item class="addbtn">
                            <button type="button" ion-button clear color="gray" (click)="closingtime(EditbusinessForm)"><ion-icon name="add"></ion-icon></button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div class="tagsec" *ngIf="daytime.length>0">
                <div class="inner-sec" *ngFor="let d of daytime;let i = index">
                     <p style="margin-bottom:1px;">{{d.day}}</p>
                    <p><span>{{d.opening_time}}</span> to <span>{{d.closing_time}}</span></p>
                    <ion-icon name="close" (click)="DeleteTimes(d,i)"></ion-icon>
                </div>
            </div>
            <ion-item *ngIf="services">
                <ion-label>Services</ion-label>
                <ion-select class="catoption" formControlName="services" (ionChange)="selectedService($event)">
                    <ion-option *ngFor="let service of services" value="{{service._id}}">{{service.sub_category_title}}
                        <!--                        <ion-input type="hidden" [(ngModel)]="data.service_title" formControlName="services_title"></ion-input>-->
                </ion-option>
            </ion-select>
        </ion-item>
        <!--            <ion-item *ngIf="services">
                        <ion-label>Services</ion-label>
                        <ion-select formControlName="services" [(ngModel)]="data.service">
                            <ion-option *ngFor="let service of services">{{service.sub_category_title}}
                                <ion-input type="hidden" value="{{service._id}}" formControlName="services_id"></ion-input>
                            </ion-option>
                        </ion-select>
                    </ion-item>-->

        <h2 *ngIf="businessdata?.business_type == 1 ||businessdata?.business_type == 2">Social Links</h2>
        <ion-item *ngIf="businessdata?.business_type == 1 ||businessdata?.business_type == 2">
            <img src="assets/imgs/instgrm.png" item-start class="social">
            <ion-input type="text" placeholder="https://www.instagram.com/" formControlName="instagramlink"></ion-input>
        </ion-item>

        <ion-item *ngIf="businessdata?.business_type == 1 ||businessdata?.business_type == 2">
            <img src="assets/imgs/fb.png" item-start class="social">
            <ion-input type="text" placeholder="https://www.facebook.com/" formControlName="facebooklink"></ion-input>
        </ion-item>

        <ion-item *ngIf="businessdata?.business_type == 1 ||businessdata?.business_type == 2">
            <img src="assets/imgs/twtr.png" item-start class="social">
            <ion-input type="text" placeholder="https://www.twitter.com/" formControlName="twitterlink"></ion-input>
        </ion-item>
        <ion-item>
            
            <ion-input type="text" placeholder="https://www.websitename.com/" formControlName="websiteurl"></ion-input>
        </ion-item>

        <h2>Is this a veteran owned business?</h2>

        <ion-list radio-group style="margin:0 !important;" [(ngModel)]="data.veteran" formControlName="veteranowned">
            <ion-item class="rdo" style="padding-left: 25px !important;">
                <ion-radio value="true"></ion-radio>
                <ion-label>Yes</ion-label>
            </ion-item>
            <ion-item class="rdo" style="padding-left: 25px !important;">
                <ion-radio value="false"></ion-radio>
                <ion-label>No</ion-label>
            </ion-item>
        </ion-list>

        <h2>Do you own an online marketplace?</h2>

        <ion-list radio-group style="margin:0 !important;" [(ngModel)]="data.marketplace" formControlName="onlinemarketplace">
            <ion-item class="rdo" style="padding-left: 25px !important;">
                <ion-radio value="true"></ion-radio>
                <ion-label>Yes</ion-label>
            </ion-item>

            <ion-item class="rdo" style="padding-left: 25px !important;">

                <ion-radio value="false"></ion-radio>
                <ion-label>No</ion-label>
            </ion-item>
        </ion-list>

        <h2>Do you accept?</h2>

        <ion-list style="margin:0 !important;">
            <ion-item class="chck">
                <ion-checkbox formControlName="accept" style="margin-right: 9px !important;"></ion-checkbox>
                <ion-label>Appointments</ion-label>
            </ion-item>

            <ion-item class="chck">

                <ion-checkbox formControlName="reservation" style="margin-right: 9px !important;"></ion-checkbox>
                <ion-label>Reservations</ion-label>
            </ion-item>
        </ion-list>
    </ion-list>
    <div class="photosec">
        <h2 style="position:relative;">Add Photo <span>( Multiple photos )</span>
            <button type="button" *ngIf="bit<=4" ion-button color="green" (click)="presentActionSheet()"><ion-icon name="add"></ion-icon></button>
        </h2>
        <ion-grid class="paddingnone" *ngIf="base64Image">
            <ion-row>
                <ion-col col-4 *ngFor="let img of base64Image;let i = index">
                         <div class="image-wrapper">
                        <img src="{{img.business_image}}">
                        <img src="assets/imgs/crosimg.png" class="delete-img" (click)="DeleteImage(i,img._id)">
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!--        <h2 style="position:relative;">Add Logo <span>( Single photo )</span>
                    <button *ngIf="businesslogo == null" type="button" ion-button color="green" (click)="presentActionSheet1()"><ion-icon name="add"></ion-icon></button>
                </h2>
                <ion-grid class="paddingnone" *ngIf="businesslogo != null">
                          <ion-row>
                        <ion-col col-4>
                            <div class="image-wrapper">
                                <img src="{{businesslogo}}">
                                <img src="assets/imgs/crosimg.png" class="delete-img" (click)="DeleteLogo">
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>-->
        <div class="btnsec">
            <button type="submit" ion-button color="green" full class="btn1">SAVE</button>
        </div>
    </div>
</form>
</ion-content>
