<ion-header>
    <ion-navbar hideBackButton color="green">
        <button ion-button menuToggle style="display:block !important;">
            <ion-icon><img src="assets/imgs/menuicon.png" class="menuicon"></ion-icon>
        </button>
        <ion-title text-center >Home</ion-title>
        <ion-buttons right (click)="filterModal()" *ngIf="restaurantlist?.length >0">
            <button ion-button>
                <ion-icon><img width="22px" src="assets/imgs/filter.png"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

<!--    <div class="searchouter">
        <ion-searchbar id="input" class="brfone searchbar" placeholder="Search..." (click)="SearchModal()"></ion-searchbar>
        <p ion-button [disabled]="!disabled" (click)="ShowHide()">{{name}}</p>
        <button type="button" ion-button class="disab" [disabled]="disable == true" (click)="ShowHide()">{{name}}</button>
        <div *ngIf="show == true">
            <form [formGroup]="SearchForm" (submit)="Searchbyname(SearchForm)">
            <ion-searchbar id="byname" class="bfr brfone searchbar animated" placeholder="Search by name" formControlName="searchname">
            </ion-searchbar>
            </form>
        </div>
        <ion-list class="searchtogle animated bounceIn">
            <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
                {{ item }}
        </ion-item>
        </ion-list>
</div>-->
    <div class="buttonout">
        <button type="button" class="btn1" ion-button icon-start block (click)="SearchModal()"><ion-icon><img src="assets/imgs/srch.png" style="width:18px;float: left;"></ion-icon>Search...</button>
    </div>
    
<!--    <div class="searchouter">
        <div>
            <ion-searchbar class="brfone searchbar animated" placeholder="Search by category" [(ngModel)]="data.term" (input)="categories(data.term)" (ionClear)="ionClearCategory($event)">
            </ion-searchbar>
        </div>
        <ion-list class="searchtogle animated" *ngIf="disable == true">
            <ion-item *ngFor="let sub of categorydata | filter:data.term" (click)="SearchbyCategory(sub)">
                {{sub.sub_category_title}}
        </ion-item>
        </ion-list>
    </div>-->
    

<ion-toolbar>
    <div class="procatout">
        <ul class="procat">
            <li *ngFor="let sub of subcat" (click)="FilterBySubCat(sub._id)" [class.highlighted]="sub._id == categoryid">
                 <div class="icons">
                    <img [src]="sub.sub_category_image">
                </div>
<!--                <div class="icons">
                   <svg-icon src="https://gatheringmanal.s3.eu-central-1.amazonaws.com/blogimage/1527222876101Entertainments.svg" [svgStyle]="{ 'width.px':22 }"></svg-icon>
                </div>-->
                <p>{{sub.sub_category_title}}</p>
                
            </li>
        </ul>
    </div>
</ion-toolbar>

</ion-header>

<ion-content>
    
    
  
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <!--    <ion-scroll direction="x" class="wideslide">
            <ul class="imglist">
                <li *ngFor="let premium of premiumBusiness" (click)="viewproduct(premium)">
                    <div class="boxxgrid">
                        <div class="imgbox">
                            <img src="{{premium.business_image[0].business_image}}">
                            
                        </div>
                        <img src="assets/imgs/premium.png" class="premium">
                    </div>
                </li>
                <li>
                    <div class="boxxgrid">
                        <div class="imgbox">
                            <img src="assets/imgs/sqar.png">
                        </div>
                        <img src="assets/imgs/premium.png" class="premium">
                    </div>
                </li>
               
            </ul>
        </ion-scroll>-->
    
    <ion-slides pager *ngIf="premiumBusiness.length>0">
        <ion-slide *ngFor="let premium of premiumBusiness" (click)="viewproduct(premium)">
            <img *ngIf="premium.business_image[0]?.business_image" src="{{premium.business_image[0]?.business_image}}">
            <img *ngIf="premium.business_image[0]?.business_image" src="assets/imgs/PREMIERE.png" class="premium">
        </ion-slide>
    </ion-slides>

    <div class="productlist" *ngIf="restaurantlist?.length>0">
        <ion-list text-wrap>
            <ion-item *ngFor="let res of restaurantlist">
                <ion-thumbnail item-start (click)="viewproduct(res)">
                    <img [src]="res.business_image[0].business_image">
                </ion-thumbnail>
                <ion-note class="online" *ngIf="res.business_data[0].own_online_market_place == true"><span class="dot"></span> Online</ion-note>
<!--                                <span *ngIf="res.business_data[0].own_online_market_place == true">Online</span>-->
                <h2>{{res.business_data[0].business_name}}</h2>
                <div class="fullwidth">
                    <h4 class="listcol">
                        <rating readOnly="true" max="5" emptyStarIconName="star-outline" starIconName="star" nullable="false" [(ngModel)]="res.avg" name="rate">
                        </rating>
                    </h4>
                    <h4 *ngIf="res.business_data[0].own_online_market_place == true" class="listcol"><span class="proicon"><img src="assets/imgs/hrs.png"></span> Open 24/7</h4>
                </div>
                <div class="fullwidth">
                    <h4 class="listcol"><span class="proicon"><img src="assets/imgs/mile.png"></span> {{res.business_data[0].distance}} Miles</h4>
                    <h4 class="listcol" *ngIf="res.checkin"><span class="proicon"><img src="assets/imgs/check.png"></span> {{res.checkin.length}} Check-Ins</h4>
                    <h4 class="listcol" *ngIf="!res.checkin"><span class="proicon"><img src="assets/imgs/check.png"></span> 0 Check-Ins</h4>

                </div>
                <p>{{res.business_data[0].sub_cat}}</p>
                <div class="fullwidth">
                    <h4 class="listcol" (click)="MarkAsFavourite(res.business_data[0]._id)">
                        <span class="proicon">
                            <img *ngIf="res.business_data[0].fav == 0" src="assets/imgs/fav.png">
                            <img *ngIf="res.business_data[0].fav == 1" src="assets/imgs/favactive.png">
                        </span> Favorite</h4>
                    <h4 class="listcol" (click)="socialsharing(res.business_data[0].business_name,res.business_data[0].address,res.business_image[0].business_image)"><span class="proicon"><img src="assets/imgs/share.png"></span> Share</h4>
                </div>
                <div class="fullwidth">
                    <button class="btneq" ion-button color="green" (click)="bookModal(res)">Book Now</button>
                    <button class="btneq yelo" ion-button color="yellow" (click)="view(res)">Review</button>
                </div>
                <img *ngIf="res.business_data[0].business_type == 1 || res.business_data[0].business_type == 2" src="assets/imgs/premium.png" class="premim">
            </ion-item>
            <!--  <ion-item>
                <ion-thumbnail item-start>
                <img src="assets/imgs/img1.jpg">
                </ion-thumbnail>
                <h2>Rudford’s Restaurant</h2>
                <div class="fullwidth">
                <h4 class="listcol">sdfdssaf</h4>
                <h4 class="listcol"><span class="proicon"><img src="assets/imgs/hrs.png"></span> Open 24/7</h4>
                </div>
                <div class="fullwidth">
                <h4 class="listcol"><span class="proicon"><img src="assets/imgs/mile.png"></span> 7.4 Miles</h4>
                <h4 class="listcol"><span class="proicon"><img src="assets/imgs/check.png"></span> 4 Check-Ins</h4>
                </div>
                <p>Diners, Breakfast & Brunch, Burgers</p>
                <div class="fullwidth">
                <h4 class="listcol"><span class="proicon"><img src="assets/imgs/favactive.png"></span> Favorite</h4>
                <h4 class="listcol"><span class="proicon"><img src="assets/imgs/share.png"></span> Share</h4>
                </div>
                <div class="fullwidth">
                <button class="btneq" ion-button color="green">Book Now</button>
                <button class="btneq" ion-button color="yellow">Review</button>
                </div>
              </ion-item>-->
        </ion-list>
    </div>
    <div *ngIf="restaurantlist?.length == 0">
        <div style="text-align: center !important;padding: 15% 0 !important;color: grey;font-weight: 500; font-size: 15px;">
            <img style="margin: auto;display: block;" src="assets/imgs/sorry.png">
            
        </div>
    </div>
    <ion-infinite-scroll *ngIf="pageno<=totalpageno" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
