<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="green">
      <button ion-button menuToggle style="display:block !important;">
        <ion-icon><img src="assets/imgs/menuicon.png" class="menuicon"></ion-icon>
      </button>
    <ion-title>history</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item *ngFor="let history of historydata">
          <ion-thumbnail item-start>
            <img *ngIf="history.order_data[0].business_data.length>0" [src]="history.order_data[0].business_image[0].business_image">
             <img  *ngIf="history.order_data[0].business_data.length == 0" src="assets/imgs/noimage.jpg">
          </ion-thumbnail>
            <h2 *ngIf="history.order_data[0].business_data.length>0">{{history.order_data[0].business_data[0].business_name}}</h2>
            <h2 *ngIf="history.order_data[0].business_data.length == 0">Unknown business</h2>
          <p *ngIf="history.order_data[0].business_data.length>0">{{history.order_data[0].business_data[0].sub_cat}}</p>
          <rating *ngIf="history.order_data.length>0" readOnly="true" max="5" emptyStarIconName="star-outline" starIconName="star" nullable="false" [(ngModel)]="history.order_data[0].avg" name="rate">
           </rating>
          <rating *ngIf="history.order_data.length == 0" readOnly="true" max="5" emptyStarIconName="star-outline" starIconName="star" nullable="false" name="rate">
           </rating>
          <button class="btneq" ion-button color="yellow" (click)="Review(history.order_data[0])">Review</button>
          <p *ngIf="history.order_data[0].business_data.length>0" [innerHTML]="history.order_data[0].business_data[0].business_description"></p>
          <p *ngIf="history.order_data[0].business_data.length>0"><span>{{history.order_data[0].business_data[0].updated_at | date}}</span> <span class="time">{{history.order_data[0].business_data[0].updated_at | date:'shortTime'}}</span></p>
        </ion-item>

<!--  
              <ion-item>
                  <ion-thumbnail item-start>
                    <img src="assets/imgs/img1.jpg">
                  </ion-thumbnail>
                  <h2>Sam's Auto Repair</h2>
                  <p>Auto Repair</p>
                  <ul>
                    <li> <ion-icon name="star" color="yellow" class="actv"></ion-icon></li>
                    <li> <ion-icon name="star" color="yellow" class="actv"></ion-icon></li>
                    <li> <ion-icon name="star-outline" color="gray"></ion-icon></li>
                    <li> <ion-icon name="star-outline" color="gray"></ion-icon></li>
                    <li> <ion-icon name="star-outline" color="gray"></ion-icon></li>
                  </ul>
                  <button class="btneq" ion-button color="yellow" >Edit Review</button>
                  <p>Lorem Ipsum available, but the majority have suffered</p>
                  <p><span>15 nov 2017</span> <span class="time">20:15 PM</span></p>
                </ion-item>-->

      </ion-list>
    <div *ngIf="historydata?.length<1">
                <div style="text-align: center !important;padding: 40% 0 !important;color: grey;font-weight: 500; font-size: 15px;">
                    <img style="width:100px;margin: auto;display: block;" src="assets/imgs/sorry11.png">
                    <span> It's empty here!</span>
                </div>
            </div>
</ion-content>
