<!--
  Generated template for the ReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="green">
    <ion-title>Write Review</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="top">
		<ion-list style="margin: 0;">
		  <ion-item>
		    <ion-avatar item-start>
		      <img [src]="resdetail?.business_image[0].business_image">
		    </ion-avatar>
		    <h2 color="green">{{resdetail?.business_data[0].business_name}}</h2>
			<h3 *ngIf="truncating && resdetail?.business_data[0].business_description.length > limit" [innerHTML]="resdetail?.business_data[0].business_description | truncate : 80">
                        </h3>
                    <h3 *ngIf="truncating && resdetail?.business_data[0].business_description.length < limit" [innerHTML]="resdetail?.business_data[0].business_description">
                        </h3>
                    <button ion-button clear *ngIf="truncating && resdetail?.business_data[0].business_description.length > limit" ion-button (click)="truncating = false">Show more</button>
                    <h3 *ngIf="!truncating && resdetail?.business_data[0].business_description.length > limit" [innerHTML]="resdetail?.business_data[0].business_description">
                             <button ion-button (click)="truncating = true">show less</button>
                        </h3>
                    <button ion-button clear *ngIf="!truncating && resdetail?.business_data[0].business_description.length > limit" ion-button (click)="truncating = true">Show less</button>
		      <div class="btn" item-end *ngIf="resdetail?.review">
		      	<rating readOnly="true" max="5" emptyStarIconName="star-outline" starIconName="star" nullable="false" [(ngModel)]="data.rate" name="rate">
                        </rating>
                          <h4 *ngIf="details?.length>0">{{details?.length}} Reviews</h4>
                          <h4 *ngIf="details?.length == 0">0 Review</h4>
		      </div>     
		 
		  </ion-item>
		</ion-list>
	</div>
    <div class="bottom">
		<ion-list>
		  <ion-item *ngFor="let reviews of details">
		    <ion-thumbnail item-start *ngIf="reviews.status == true">
		        <img *ngIf="reviews.profile_pic" [src]="reviews.profile_pic">
                        <img *ngIf="!reviews.profile_pic" src="assets/imgs/user.png">
		    </ion-thumbnail>
                      <h2 *ngIf="reviews.status == true">
                          <strong *ngIf="reviews.firstname">{{reviews.firstname}} {{reviews.lastname}}</strong>
                           <strong *ngIf="!reviews.firstname">Unknown user</strong>
                          <span>{{reviews.created_at | date:"shortDate"}}</span></h2>
		    <rating *ngIf="reviews.status == true" readOnly="true" max="5" emptyStarIconName="star-outline" starIconName="star" nullable="false" [(ngModel)]="reviews.stars" name="rate">
                        </rating>
                      <p *ngIf="reviews.status == true" style="padding-bottom: 10px;">{{reviews.comment}}</p>
                    <div class="rply" *ngIf="reviews.status == true">
                        <h5>REPLY</h5>       
                        <p *ngIf="reviews.reply.length>0">{{reviews.reply[0].comment}}</p>
                    </div>
		  </ion-item>
<!--		   <ion-item>
		    <ion-thumbnail item-start>
	          <img src="assets/img/southfood.png">
	        </ion-thumbnail>
		    <h2>Good Chef <span>12/06/2017</span></h2>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		  </ion-item>
		   <ion-item>
		    <ion-thumbnail item-start>
		        <img src="assets/img/southfod.png">
		    </ion-thumbnail>
		    <h2>Good Chef <span>12/06/2017</span></h2>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		  </ion-item>-->
		</ion-list>
	</div>
    <form class="bottom_sec" [formGroup]="ReviewForm" (submit)="MakeReview(ReviewForm)">
  <h2>Please rate your experience</h2>
  <rating readOnly="false" max="5" emptyStarIconName="star-outline" starIconName="star" formControlName="rating"
        nullable="false" (ngModelChange)="onModelChange($event)">
</rating>
<!--  <ul>
    <li> <ion-icon name="star" color="yellow" class="actv"></ion-icon></li>
    <li> <ion-icon name="star" color="yellow" class="actv"></ion-icon></li>
    <li> <ion-icon name="star-outline" color="gray"></ion-icon></li>
    <li> <ion-icon name="star-outline" color="gray"></ion-icon></li>
    <li> <ion-icon name="star-outline" color="gray"></ion-icon></li>
  </ul>-->
  <ion-item>
    <ion-textarea placeholder="Share your review" formControlName="comment"></ion-textarea>
  </ion-item>
  <div class="btnsec">
    <button type="submit" ion-button color="green" class="btn1" [disabled]="!ReviewForm.valid">Post Review</button>
  </div>
    </form>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar style="padding: 6px;">
		<div class="text">
			 <ion-textarea class="enter" placeholder="Enter your text"></ion-textarea>
		</div>
		<div>
			<div class="star">
				<ul>
			     	<li><ion-icon name="star" color="theme-header"></ion-icon></li>
			     	<li><ion-icon name="star" color="theme-header"></ion-icon></li>
			     	<li><ion-icon name="star" color="theme-header"></ion-icon></li>
			     	<li><ion-icon name="star" color="lightgray"></ion-icon></li>
			     	<li><ion-icon name="star" color="lightgray"></ion-icon></li>
			    </ul>
			</div>
			<ion-buttons end>
		      <button ion-button icon-only class="btnprofile">Submit</button>     
		    </ion-buttons>
		</div>
		
  </ion-toolbar>
</ion-footer> -->
